@import '../../style/variables.scss';

.button {
  border: none;
  min-width: 150px;
  text-align: center;
  padding: 15px;
  color: white;
  cursor: pointer;
  transition: 0.25s;

  &:focus,
  &:hover {
    box-shadow: inset 300px 0 0 0#9e2a2a;
  }
}

.red {
  background-color: $red;
}

a {
  text-decoration: none;
}

.w300 {
  width: 300px;
}
