@import '../../style/variables.scss';

.edu--timeline ul li {
  list-style-type: none;
  position: relative;
  width: 3px;
  padding-bottom: 30px;
  background: $red;
}

.edu--timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
}

.edu--timeline ul li div {
  position: relative;
  width: 800px;
  padding: 15px;
  background: $light;
  left: 50px;
}

.edu--timeline ul li div::before {
  content: '';
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent $light transparent transparent;
}
.edu--education {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    time {
      // font-size: 14px;
    }
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  .edu--skills {
    line-height: 30px;
    strong {
      padding: 2px 5px;
      background-color: #fff;
      border-radius: 10px;
    }
  }
}

@media only screen and (max-width: $max-width) {
  .edu--timeline ul li div {
    width: 600px;
  }
}

@media only screen and (max-width: 800px) {
  .edu--timeline ul li div {
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .edu--timeline ul li div {
    width: 280px;
  }
}
