@import '../../style/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 3px;
  padding-bottom: 30px;
  background: $red;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  width: 800px;
  padding: 15px;
  background: $light;
  left: 50px;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent $light transparent transparent;
}
.education {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    time {
      // font-size: 14px;
    }
  }
}

@media only screen and (max-width: $max-width) {
  .timeline ul li div {
    width: 600px;
  }
}

@media only screen and (max-width: 800px) {
  .timeline ul li div {
    width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .timeline ul li div {
    width: 300px;
  }
}
