// Colors
$darkBlue: #0D2344;
$darkestBlue: #001535;
$darkestBlue: #071427;
$light: #ececec;
$grey: #b9b9b9;
$darkGrey: #838383;
$red: #C23939;

$sidebar-width: 400px;
$max-width: 1200px;
$max-width-1: 800px;