@import '../../style/variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar {
  position: relative;
  transition-timing-function: ease;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: $sidebar-width;
  height: 100vh;
  background: linear-gradient(180deg, rgb(28, 57, 102) 0%, rgb(4, 20, 43) 100%);
  position: fixed;
  &--menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    li {
      color: $light;
      list-style: none;
      margin: 20px;
    }
    a {
      color: $light;
      text-decoration: none;
      font-size: 18px;
    }
  }
  &--social {
    z-index: 1;
    width: 100%;
    background-color: $darkestBlue;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      transition-timing-function: ease;
      transition: 0.5s;
      height: 40px;
      margin: 10px;
    }
  }
}

// .lines {
//   position: absolute;
//   top: 0;
//   left: -160px;
//   right: 0;
//   height: 100%;
//   margin: auto;
//   width: 100px;
//   .line {
//     position: absolute;
//     width: 1px;
//     height: 100%;
//     top: 0;
//     left: 0%;
//     background: rgba(255, 255, 255, 0.07);
//     z-index: 0;
//     overflow: hidden;
//     &::after {
//       content: '';
//       display: block;
//       position: absolute;
//       height: 15vh;
//       width: 100%;
//       top: -50%;
//       left: 0;
//       background: linear-gradient(
//         to bottom,
//         rgba(255, 255, 255, 0) 0%,
//         rgba(255, 255, 255, 0.2) 75%,
//         rgba(255, 255, 255, 0.5) 100%,
//       );
//       animation: run 7s 0s infinite;
//       animation-fill-mode: forwards;
//       animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
//     }
//     &:nth-child(1) {
//       margin-left: -25%;
//       &::after {
//         animation-delay: 2s;
//       }
//     }
//     &:nth-child(3) {
//       margin-left: 25%;
//       &::after {
//         animation-delay: 2.5s;
//       }
//     }
//   }
// }

// @keyframes run {
//   0% {
//     top: -50%;
//   }
//   100% {
//     top: 110%;
//   }
// }

@media only screen and (max-width: $max-width) {
  .sidebar {
    width: 250px;
    &--social {
      img {
        height: 35px;
        margin: 7px;
      }
    }
  }
}

@media only screen and (max-width: $max-width-1) {
  .sidebar {
    // display: none;
    transition-timing-function: ease;
    transition: 0.5s;
    transform: translateX(-100%);
  }
}
