@import '../../style/variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

hr {
  height: 1px;
  background-color: rgb(71, 91, 146);
  border: none;
}

.main {
  // position: relative;
  &--content {
    transition-timing-function: ease;
    transition: 0.5s;
    margin-left: $sidebar-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &--container {
    max-width: $max-width;
    padding: 20px 100px;
    h1 {
      display: inline-block;
      padding-bottom: 10px;
      border-bottom: 1.5px solid $red;
      margin-bottom: 20px;
    }
    h2 {
      margin-top: 20px;
      margin-bottom: 10px;
    }
    &--skills {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &--hero {
    height: 650px;
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 100px;
    padding-bottom: 100px;
    background-image: url('./profile_large.png');
    background-repeat: no-repeat;
    background-position: bottom right 80px;
    h4 {
      color: $red;
      font-weight: 300;
      font-size: 20px;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 40px;
    }
    &--break {
      width: 50px;
      border-bottom: 1.5px solid $red;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  &--language {
    display: none;
    position: absolute;
    right: 0;
    top: -25px;
    margin: 0;
  }
}

.education {
  display: flex;
  flex-wrap: wrap;
  &--block {
    min-width: 250px;
    flex: 1;
    padding-bottom: 30px;
    padding-right: 40px;
    h2 {
      font-size: 22px;
      padding-bottom: 5px;
      margin: 0;
    }
    h3 {
      font-size: 16px;
      font-weight: 500;
      color: $red;
    }
    h4 {
      font-size: 14px;
      padding-bottom: 10px;
    }
    p {
      strong {
        font-weight: 500;
      }
    }
  }
}

.break {
  width: 150px;
  height: 1px;
  border-bottom: 1px solid $red;
  margin-bottom: 15px;
}

strong {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #000;
}

.subtitle {
  font-size: 14px;
  color: rgb(143, 143, 143);
  margin-top: -10px;
  margin-bottom: 10px;
}

@media only screen and (max-height: 700px) {
  .main {
    &--hero {
      height: 100vh;
    }
  }
}

@media only screen and (max-width: $max-width) {
  .main {
    &--content {
      margin-left: 250px;
    }
    &--hero {
      h2 {
        width: 300px;
        font-size: 30px;
        margin-bottom: 40px;
        background-color: rgba($color: #fff, $alpha: 0.6);
        padding: 0 10px;
      }
      &--break {
        margin-top: 100px;
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (max-width: $max-width-1) {
  .main {
    &--content {
      margin-left: 0;
    }
    &--container {
      padding: 20px 40px;
    }
    &--hero {
      padding-left: 0;
      padding-bottom: 0;
      align-items: center;
      background-position: bottom center;
      padding-bottom: 20px;
      h4 {
        background-color: rgba($color: #fff, $alpha: 0.6);
        padding: 0 10px;
      }
      h1 {
        background-color: rgba($color: #fff, $alpha: 0.6);
        padding: 0 10px;
      }
      h2 {
        font-size: 30px;
        margin-bottom: 40px;
        background-color: rgba($color: #fff, $alpha: 0.6);
        padding: 0 10px;
      }
      &--break {
        width: 50px;
        border-bottom: 1.5px solid $red;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    &--language {
      display: block;
    }
  }
}
