@import '../../style/variables.scss';
// @import '../../../public/assets/images/profile_large.png';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main {
  &--content {
    transition-timing-function: ease;
    transition: 0.5s;
    margin-left: $sidebar-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &--hero {
    max-width: $max-width;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    &--text {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 100px;
      padding-bottom: 100px;
      background-image: url('./profile_large.png');
      background-repeat: no-repeat;
      background-position: bottom right;
      h4 {
        color: $red;
        font-weight: 300;
        font-size: 20px;
      }
      h1 {
        font-size: 40px;
      }
      h2 {
        font-size: 30px;
        margin-bottom: 40px;
      }
      &--break {
        width: 50px;
        border-bottom: 1.5px solid $red;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
    &--image {
      flex: 1;
      display: flex;
      align-items: flex-end;
    }
  }
}

@media only screen and (max-width: 800px) {
  .main {
    &--content {
      margin-left: 0;
    }
    &--hero {
      &--text {
        padding-left: 0;
        padding-bottom: 0;
        align-items: center;
        background-position: bottom center;
        padding-bottom: 20px;
        h4 {
          background-color: rgba($color: #fff, $alpha: 0.6);
          padding: 0 10px;
        }
        h1 {
          background-color: rgba($color: #fff, $alpha: 0.6);
          padding: 0 10px;        }
        h2 {
          font-size: 30px;
          margin-bottom: 40px;
          background-color: rgba($color: #fff, $alpha: 0.6);
          padding: 0 10px;
        }
        &--break {
          width: 50px;
          border-bottom: 1.5px solid $red;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
